In [2]:
import numpy as np
import pandas as pd

In [3]:
test = pd.read_csv('../data/test.csv')
train = pd.read_csv('../data/train.csv')
sample = pd.read_csv('../data/SampleSubmission.csv')

In [4]:
train['fl_op'] = train['FLTID'].str[:3]

condition = [
    (train["fl_op"] == 'TU '),
    (train["fl_op"] == 'UG '),
    (train["fl_op"] == 'WKL'),
    (train["fl_op"] != 'TU ')
]

choices = [1, 2, 3, 4]

train["fl_op"] = np.select(condition, choices, default=np.nan)
train.columns

Index(['ID', 'DATOP', 'FLTID', 'DEPSTN', 'ARRSTN', 'STD', 'STA', 'STATUS',
       'AC', 'target', 'fl_op'],
      dtype='object')

In [5]:
train['ac_type'] = train['AC'].str[3:5]

condition = [
    (train["ac_type"] == '32'), #A320
    (train["ac_type"] == '31'), #A310
    (train["ac_type"] == '73'), #B737
    (train["ac_type"] == '33'), #A330
    (train["ac_type"] == 'CR'), #CR
    (train["ac_type"] == '34'), #A340
    (train["ac_type"] == 'AT'), #AT
    (train["ac_type"] == 'M8'), #M8
]

choices = [1, 2, 3, 4, 5, 6, 7, 8]

train["ac_type"] = np.select(condition, choices, default=np.nan)
train.columns

Index(['ID', 'DATOP', 'FLTID', 'DEPSTN', 'ARRSTN', 'STD', 'STA', 'STATUS',
       'AC', 'target', 'fl_op', 'ac_type'],
      dtype='object')

In [6]:
train.head()

,ID,DATOP,FLTID,DEPSTN,ARRSTN,STD,STA,STATUS,AC,target,fl_op,ac_type
0,train_id_0,2016-01-03,TU 0712,CMN,TUN,2016-01-03 10:30:00,2016-01-03 12.55.00,ATA,TU 32AIMN,260.0,1.0,1.0
1,train_id_1,2016-01-13,TU 0757,MXP,TUN,2016-01-13 15:05:00,2016-01-13 16.55.00,ATA,TU 31BIMO,20.0,1.0,2.0
2,train_id_2,2016-01-16,TU 0214,TUN,IST,2016-01-16 04:10:00,2016-01-16 06.45.00,ATA,TU 32AIMN,0.0,1.0,1.0
3,train_id_3,2016-01-17,TU 0480,DJE,NTE,2016-01-17 14:10:00,2016-01-17 17.00.00,ATA,TU 736IOK,0.0,1.0,3.0
4,train_id_4,2016-01-17,TU 0338,TUN,ALG,2016-01-17 14:30:00,2016-01-17 15.50.00,ATA,TU 320IMU,22.0,1.0,1.0