In [8]:
import pandas as pd

In [10]:
# Loading the dataset
df = pd.read_csv('../data/Train.csv')

# Create a copy of the data
df_copy = df.copy()

In [11]:
# in column STATUS, change DEL, DEP and RTR to OTHER <--- here you decide which STATUS entries should be combined into entry OTHER
df_copy['STATUS'].replace({'DEL' :'OTHER', 'DEP' : 'OTHER', 'RTR' : 'OTHER'}, inplace=True)

# create dummies for STATUS column
status_dummies = pd.get_dummies(df_copy.STATUS)

# drop original STATUS column and newly created OTHER column
df_copy.drop(columns = 'STATUS', inplace = True)
status_dummies.drop(columns='OTHER', inplace= True)

# merge newly created status categorical dummies with original data frame (minus STATUS column)
df_copy = pd.concat([df_copy, status_dummies], axis=1)

In [12]:
df_copy

,ID,DATOP,FLTID,DEPSTN,ARRSTN,STD,STA,AC,target,ATA,SCH
0,train_id_0,2016-01-03,TU 0712,CMN,TUN,2016-01-03 10:30:00,2016-01-03 12.55.00,TU 32AIMN,260.0,True,False
1,train_id_1,2016-01-13,TU 0757,MXP,TUN,2016-01-13 15:05:00,2016-01-13 16.55.00,TU 31BIMO,20.0,True,False
2,train_id_2,2016-01-16,TU 0214,TUN,IST,2016-01-16 04:10:00,2016-01-16 06.45.00,TU 32AIMN,0.0,True,False
3,train_id_3,2016-01-17,TU 0480,DJE,NTE,2016-01-17 14:10:00,2016-01-17 17.00.00,TU 736IOK,0.0,True,False
4,train_id_4,2016-01-17,TU 0338,TUN,ALG,2016-01-17 14:30:00,2016-01-17 15.50.00,TU 320IMU,22.0,True,False
...,...,...,...,...,...,...,...,...,...,...,...
107828,train_id_107828,2018-07-05,WKL 0000,TUN,TUN,2018-07-05 23:00:00,2018-07-06 02.00.00,TU 32AIML,0.0,False,True
107829,train_id_107829,2018-01-13,UG 0003,DJE,TUN,2018-01-13 08:00:00,2018-01-13 09.00.00,UG AT7AT7,0.0,False,True
107830,train_id_107830,2018-11-07,SGT 0000,TUN,TUN,2018-11-07 05:00:00,2018-11-07 12.50.00,TU 736IOK,0.0,False,True
107831,train_id_107831,2018-01-23,UG 0010,TUN,DJE,2018-01-23 18:00:00,2018-01-23 18.45.00,TU CR9ISA,0.0,True,False
107832,train_id_107832,2018-11-13,UG 0002,TUN,DJE,2018-11-13 06:15:00,2018-11-13 07.05.00,TU CR9ISA,0.0,False,True

In [13]:
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 107833 entries, 0 to 107832
Data columns (total 11 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   ID      107833 non-null  object
 1   DATOP   107833 non-null  object
 2   FLTID   107833 non-null  object
 3   DEPSTN  107833 non-null  object
 4   ARRSTN  107833 non-null  object
 5   STD     107833 non-null  object
 6   STA     107833 non-null  object
 7   AC      107833 non-null  object
 8   target  107833 non-null  float64
 9   ATA     107833 non-null  bool
 10  SCH     107833 non-null  bool
dtypes: bool(2), float64(1), object(8)
memory usage: 7.6+ MB

In [14]:
df.to_csv('../data/Test_modified.csv')